# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# IDE files
.vscode/
.idea/

# Environment variables
.env

# OS files
.DS_Store

# PyTorch
*.dylib
*.so
*.dll

# Distribution
dist/
build/
*.egg-info/
